<div id="formcontainer">
    <h2>Registration</h2>
    <div style="text-align: center;">
        <p style="text-align: center;">Register as an Company?</p>
        <button class="btn btn-class" (click)="onTypeChange()" style="width: 100px;text-align: center;">Click
            Me!</button>
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="container" id="formcontainer2">
            <div class="row" id="row1">
                <h3>Personal Details</h3>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" required ngModel name="fname">
                    </div>
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" required ngModel name="lname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Your Email Address</label>
                        <input type="email" class="form-control" placeholder="name@email.com" required ngModel email
                            name="email" #email="ngModel">
                        <span class="badge badge-pill badge-warning" *ngIf="!email.valid && email.touched">please enter
                            a
                            valid email</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" required ngModel name="date" max="{{date}}">
                    </div>
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Contact Number</label>
                        <input type="text" class="form-control" required placeholder="10 digit number"
                            pattern="[0-9]{1}[0-9]{9}" ngModel name="contact">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" required ngModel name="password">
                    </div>
                    <div class="col-lg-6 col-sm-12 pt-2">
                        <label class="form-label">Confirm password</label>
                        <input type="password" class="form-control" required ngModel name="confirmpass"
                            (change)="checkValid($event)">
                    </div>
                    <span class="badge badge-pill badge-warning" *ngIf="validPassword">passwords dont match</span>
                </div>
                <div class="row">
                    <label class="form-label">Gender</label>
                    <div class="form-check form-check-inline col-lg-4 col-sm-12 pt-2">
                        <input class="form-check-input" type="radio" name="gender" ngModel id="inlineRadio1"
                            value="male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline col-lg-4 col-sm-12 pt-2">
                        <input class="form-check-input" type="radio" name="gender" ngModel id="inlineRadio2"
                            value="female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                    <div class="form-check form-check-inline col-lg-4 col-sm-12 pt-2">
                        <input class="form-check-input" type="radio" name="gender" ngModel id="inlineRadio3"
                            value="rather not say">
                        <label class="form-check-label" for="inlineRadio3">Rather not say</label>
                    </div>

                </div>
            </div>
            <div class="row" id="row2">
                <h3>Academic Details</h3>
                <div class="col-lg-4 col-sm-12 pt-2">
                    <label class="form-label">University</label>
                    <input type="email" class="form-control" placeholder="University of.." required ngModel
                        name="university">
                </div>
                <div class="col-lg-4 col-sm-12 pt-2">
                    <label class="form-label">Degree</label>
                    <ng-multiselect-dropdown [placeholder]="'Select options'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" name="degree">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-lg-4 col-sm-12 pt-2">
                    <label class="form-label">Specialization</label>
                    <input type="text" class="form-control" placeholder="Specialization" required ngModel
                        name="special">
                </div>
            </div>
            <div class="row" id="row3">
                <h3>Skills</h3>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Softwaredev" ngModel value="sd">
                            <label class="form-check-label" for="Softwaredev">Software Development</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="frontend" ngModel value="fe">
                            <label class="form-check-label" for="frontend">Front-End Development</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="backend" ngModel value="be">
                            <label class="form-check-label" for="backend">Back-End Development</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="fullstack" ngModel value="fs">
                            <label class="form-check-label" for="fullstack">Fullstack Development</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="web" ngModel value="wd">
                            <label class="form-check-label" for="web">Web Development</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 pt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="mobile" ngModel value="mad">
                            <label class="form-check-label" for="mobile">Mobile Application Development</label>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block pt-5">
                    <button type="reset" class="btn btn-class" (click)="onClear()">Clear</button>&nbsp;
                    <button type="submit" class="btn btn-class"
                        [disabled]="!form.valid && !validPassword">Submit</button>
                </div>
            </div>


        </div>
    </form>
</div>