.home img
{
    width: 100%;
    padding-top: 50px;
}

.homecontent
{
    padding-top: 100px;
}

.homecontent h1
{
    color: #865496;
    font-weight: 700;
}

.homecontent p
{
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.btn
{
    border: 2px solid #865496;
    border-radius: 25px;
    width: 150px;
    margin-top: 20px;
   
}

@media only screen and (max-width: 600px) {
    .homecontent
{
    padding-top: 50px;
}
  }
  