<section class="home">
    <img src="assets/homebackground.png" alt="homebackground">

    <div class="homecontent">
        <h2>Internships Made Easy</h2>
        <h5>we help you find the best internships that matches your skills</h5>
        <h5>and preferences by filtering internship opportunities through our complex algorithms</h5>
        <div class="btngroup">
            <a href="" class="btn btn-outline-primary">Log in</a> &nbsp;
            <a href="" class="btn btn-outline-primary"> Sign up</a>
        </div>
        
    </div>
</section>
