<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="homecontent">
                    <h1>Internships Made Easy</h1>
                    <p>We help you find the best internships that matches your skills and preferences by filtering internship opportunities through our complex algorithms</p>
                    <a routerLink="login" class="btn">Log in</a> &nbsp;
                    <a routerLink="signup" class="btn"> Sign up</a>
                    
                    
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="assets/img2.png" alt="homebackground">
            </div>
        </div>
    </div>
</div>
