
<div id="formcontainer">
    <h2>Company Registration</h2>
    <div style="text-align: center;">
        <p style="text-align: center;">Register as an Intern?</p>
        <button class="btn btn-class" (click)="onTypeChange()" style="width: 100px;text-align: center;">Click Me!</button>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="!isLoading">
        <div class="container" id="formcontainer2">
            <div class="row" id="row1">
                <h3>Company Details</h3>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Company Name</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder="First Name" required
                        ngModel
                        name="cname">
                    </div>
                    
                </div>
                <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Your Email Address</label>
                    <input type="email" 
                    class="form-control" 
                    placeholder="name@email.com" 
                    required
                    ngModel
                    email
                    name="email"
                    #email="ngModel">
                    <span class="badge badge-pill badge-warning" *ngIf="!email.valid && email.touched">please enter a valid email</span>
                </div>
                <div class="col mb-3">
                    <label for="formFile" class="form-label">Company logo</label>
                    <input 
                    class="form-control" 
                    type="file" 
                    id="logo" 
                    required
                    ngModel
                    name="logo"
                    (change)="upload($event)">
                </div>
            </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        required
                        ngModel
                        name="password">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Confirm password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        required
                        ngModel
                        name="confirmpass"
                        (change)="checkValid($event)">
                    </div>
                    <span class="badge badge-pill badge-warning" *ngIf="validPassword">passwords dont match</span> 
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">About</label><br>
                        <textarea 
                        id="abouttext" 
                        name="about" 
                        rows="4" cols="100" 
                        class="form-control" 
                        placeholder="Describe your company..."
                        ngModel>
                    </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Facebook link</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Facebook" 
                        required
                        ngModel
                        name="fb">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Twitter link</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Twitter" 
                        required
                        ngModel
                        name="twitter">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">LinkedIn link</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder="LinkedIn" 
                        required
                        ngModel
                        name="linkedin">
                    </div>
                </div>
            </div>
            <div class="row" id="row2">
                <h3>Hiring</h3>
                <div class="col mb-3">
                    <label class="form-label">Specializations Hired</label>
                    <ng-multiselect-dropdown
                    [placeholder]="'Select options'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    name="selected"
                  >
                  </ng-multiselect-dropdown>
                </div>
    
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="reset" class="btn btn-class" (click)="onClear()">Clear</button>&nbsp;
                <button type="submit" class="btn btn-class"  [disabled]="!form.valid && !validPassword">Submit</button>
            </div>

        </div>
    </form>
</div>