<div class="testimonial-box">
    <div class="box-top">
        <div class="profile">
            <div class="profile-img">
                <img src="assets/userprofileimg.jpg" alt="">
            </div>
            <div class="name-user">
                <strong>Anonymous</strong>
                <span>@anonymous</span>
            </div>
        </div>
        <div class="reviews">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="comment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, minus pariatur eius consectetur 
            praesentium possimus, aut facilis natus magni iste quis, 
            porro est? Hic libero ratione sequi consequatur amet modi.</p>
    </div>

</div>
