.content{
    margin: 8%;
    background-color: #fff;
    font-family: sans-serif;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.05);
}

#col2{
    margin-top: 120px;
}


.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}

.form-control{
    display: block;
    width:100%;
    font-weight: 400;
    /* line-height: 1.5; */
    /* border-color: #0011FA; */
    border-style: solid !important;
    /* border-width: 0 0 1px 0 !important; */
    /* padding: 0px !important; */
    color: #0011FA;
    /* height: auto; */
    /* border-radius: 0; */
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #ab3bd1;
    outline: 0;
    box-shadow: none;
}

.form-check-input{
    border-color: #ab3bd1;
    box-shadow: none;
}

.form-check-input:checked{
    background-color: #ab3bd1;
}

.form-switch input{
    border-color:#0011FA ;
    box-shadow: none;
}

.form-switch input:checked{
    background-color: #ab3bd1;
    border-color: #ab3bd1;
}

.btn-class{
    border-color: #ab3bd1;
    color: #ab3bd1;
}

.btn-class:hover{
    background-color: #ab3bd1;
    color: #fff;
}
