<div class="container">
    <div class="main">
        <div class="topbar">
            <button type="submit" class="btn btn-class" routerLink="">Sign out</button>
            <button type="submit" class="btn btn-class" routerLink="contact-us">Support</button>
            <button type="submit" class="btn btn-class" routerLink="contact-us">Contact Us</button>
            <button type="submit" class="btn btn-class" routerLink="browse">Browse</button>
        </div>
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="{{company.logo}}" alt="" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h3>{{company.cname}}</h3>
                            <button type="submit" class="btn btn-class" (click)="onHomeClick()">Home</button>
                            <button type="submit" class="btn btn-class" (click)="onApplications()">Applications</button>
                            <button type="submit" class="btn btn-class" (click)="onGenerateClick()">Generate</button>
                            <button type="submit" class="btn btn-class" (click)="onSettingsClick()">Settings</button>
                            <button type="submit" class="btn btn-class" routerLink="">Sign out</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1 class="m-3 pt-3">About</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Company Name</h5>
                            </div>
                            <div class="col-md-9 text-secondary">{{company.cname}}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Email</h5>
                            </div>
                            <div class="col-md-9 text-secondary">{{company.email}}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Description</h5>
                            </div>
                            <div class="col-md-9 text-secondary">{{company.about}}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Hiring</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                   <p *ngFor="let name of hiring">{{name}}</p> 
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <ng-container *ngIf="settingClicked == true">
                    <div class="card mb-3 content">
                        <app-signup></app-signup>
                    </div>
                </ng-container>
                <ng-container *ngIf="applicationsClicked == true" >
                    <div class="card mb-3 content">
                        <ng-container *ngFor="let num of [1,2,3,4,5,6]">
                        <app-company-card 
                        fxFlex="0 1 calc(20% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="100%">
                    </app-company-card>
                </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="homeClicked == true">
                    <div class="card mb-3 content">
                        <ng-container *ngFor="let num of [1,2,3,4,5,6]">
                            <app-review-card 
                            fxFlex="0 1 calc(33.3% - 32px)"
                            fxFlex.lt-md="0 1 calc(50% - 32px)"
                            fxFlex.lt-sm="100%">
                        </app-review-card>
                    </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>