<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="assets/janithlogo.png" alt="Enrolld logo" width="150px" height="auto">
        Enrolld</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" 
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="browse">Browse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact-us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
