<div class="card">
    <div class="img1">
        <img src="{{companies.url}}" alt="" srcset="" routerLink="{{link}}">
    </div>
    <div class="main-text">
        <h2>{{companies.cname}}</h2>
        <p>{{companies.about}}</p>
    </div>
    <div class="social-links">
        <a href="{{companies.fb}}"><i class="fab fa-facebook-f"></i></a>
        <a href="{{companies.twitter}}"><i class="fab fa-twitter"></i></a>
        <a href="{{companies.email}}"><i class="fa fa-envelope"></i></a>
        <a href="{{companies.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
