<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Our Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Browse Companies</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">+9471 111 2323</a></li>
                    <li><a href="#">Colombo, Sri Lanka</a></li>
                    <li><a href="#">enrolld.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col" id="logo">
                    <img src="assets/janithlogo.png" class="rounded mx-auto d-block" alt="...">
                
            </div>
        </div>
    </div>
</footer>
